@import "tailwindcss";
@plugin "daisyui";

:root{
    --bg-color: #F5F5F5;
    font-family: Roboto, serif;
    --white-100: rgba(255,255,255,0.1);
    color: #000000
}
@theme {
    --color-dark: #181517;
    --color-holiday: #AA1515;
    --color-warning: #AA1515;
    --color-main-bg: var(--bg-color);

}

@font-face {
    font-family: 'Furore';
    src: url('../fonts/Furore.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBHMdazTgWw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}



html{
    background: var(--bg-color);
}

.slide-in-up-enter-active,
.slide-in-up-leave-active {
    transition-property: all;
    transition-duration: 0.12s;
    transition-timing-function: ease-in-out;
}

.slide-in-up-enter-from,
.slide-in-up-leave-to {
    transform: translateY(-5px);
    opacity: 0.1;
}
